@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
body {
    background-color: #181825;
    font-family: "Figtree", sans-serif;
    color: #b1b9d4;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0px;
}

.navbar ul{
    list-style-type: none;
    background-color: #11111b;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar a{
    color: #b1b9d4;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    color: #b1b9d47e;
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
}

.navbar li{
    float: left;
}

.splash {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: transform 1s ease, opacity 1s ease;
}
.splash.hide {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}
.splash video {
    max-width: 80vw;
    max-height: 40vh;
    border-radius: 12px;
    margin-bottom: 20px;
}
.splash-content {
    color: #fff;
    text-align: center;
}
.splash.hide {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 1s ease, opacity 1s ease;
}